---
import { getCollection, getEntryBySlug } from 'astro:content';
import PostLayout from '../layouts/PostLayout.astro';

export async function getStaticPaths() {
  const articleEntries = await getCollection('articles');
  const bookEntries = await getCollection('books');
  const tutorialEntries = await getCollection('tutorials');

  const entries = [...articleEntries, ...bookEntries, ...tutorialEntries];

  return entries.map(entry => ({
    params: {
      slug: entry.slug
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PostLayout>

  <!-- Parts Unique to each Post Type -->
  {entry.data.type === "article" && <p>Article!</p>}

  <p class="mb-10 text-blue-700">
    ← <a href={"/" + entry.data.type + "s"}>back to {entry.data.type}s</a>
  </p>

  <!-- Render Markdown -->
  <article class="mb-6 prose lg:prose-xl h-entry" itemscope itemtype="http://schema.org/Article">
    <h1>{entry.data.title}</h1>
    <Content />
  </article>

</PostLayout>
