---
import { getCollection, getEntryBySlug } from 'astro:content';
import PostLayout from '../layouts/PostLayout.astro';
import BookHeader from '../components/BookHeader.vue';
import PostHeader from '../components/PostHeader.vue';

export async function getStaticPaths() {
  const articleEntries = await getCollection('articles');
  const bookEntries = await getCollection('books');
  const tutorialEntries = await getCollection('tutorials');

  const entries = [
    ...articleEntries,
    ...bookEntries,
    ...tutorialEntries];

  return entries.map(entry => ({
    params: {
      slug: entry.slug
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

---

<PostLayout>

  <!-- Parts Unique to each Post Type -->



  <p class="mb-10 text-blue-700">
    ← <a href={"/" + entry.data.type + "s"}>back to {entry.data.type}s</a>
  </p>


  <article class="mb-6 h-entry" itemscope itemtype="http://schema.org/Article">

    {entry.data.type === "book" && <BookHeader data={entry.data} />}
    {entry.data.type === "article" && <PostHeader data={entry.data} />}

    <div class="prose lg:prose-xl">
      <Content />
    </div>
  </article>

</PostLayout>
