---
import BaseLayout from '../layouts/BaseLayout.astro';
import SocialLinks from '../components/SocialLinks.astro';

const pageTitle = "About Rasul Kireev";
const pageDescription = "Learn about Rasul Kireev - Software Developer at Readwise, passionate about web development, writing, and experimenting with new technologies and hobbies.";
const pageKeywords = "Rasul Kireev, about, software developer, Readwise, web development, programming, writing, tutorials, YouTube, kombucha, fermentation, bread baking";
const pageType = "profile";

// async function triggerJob() {
//   const body = JSON.stringify({});
//   const endpoint = `https://windmill.cr.lvtd.dev/api/w/main/jobs/run_wait_result/p/u/rasul/get_testing`;

//   return await fetch(endpoint, {
//     method: 'POST',
//     headers: {
//       "Content-Type": "application/json",
//       "Authorization": "Bearer ZVkXJPyxGoGVTho4cn8s82XnmTRb5D"
// 		},
// 		body
//   });
// }

// const jobTriggerResponse = await triggerJob();
// const data = await jobTriggerResponse.json();

// console.log(data)
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  pageKeywords={pageKeywords}
  pageType={pageType}
>
  <div class="flex flex-col mx-auto mb-10 space-y-6 text-xl prose">
      <h1 class="mt-0 mb-4 text-4xl font-bold md:mb-6 md:text-5xl">About Me</h1>

      <p>My name is Rasul.</p>
      <p>I write code at <a class="underline" href="https://readwise.io">Readwise</a>.</p>

      <p>
        In my free time, I love to do more web dev. More specifically, I like to develop small and fun projects that help
        me learn new technologies. You can see a list of my projects <a href="https://rasulkireev/projects">here</a>.
      </p>

      <p>
        As a programmer, I learned to love writing. I try to write regularly, be it <a href="/tutorials/">
        tech tutorials</a> or about <a href="/articles/">any other topic</a>. An extension of written
        tech tutorials was to start making videos. For that, you can check
        <a href="https://www.youtube.com/channel/UC-r4_CjDp4n4O-36rnUe8gg">my Youtube channel</a>.
      </p>

      <p>
        I like to experiment a lot. Trying something new is a passion of mine. Some of my recent successes were with
        brewing Kombucha, fermenting different foods, and baking bread. On the failure side of things, I can't keep
        a plant alive for more than a week.
      </p>

      <SocialLinks />
  </div>
</BaseLayout>
