---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Free Books and Courses";
---

<BaseLayout pageTitle={pageTitle}>

<div class="flex flex-col mx-auto mb-10 space-y-6 prose text-xl">

  <h1 class="mt-0 mb-4 text-4xl font-bold md:mb-6 md:text-5xl">Free Books and Courses</h1>
  <p>I've been collecting links to free books and courses online in my Obsidian for a while
    and thought this would be a better place for them.</p>

  <h2 id="books" class="mb-4 text-2xl border-b border-gray-200">Books</h2>
  <ul>
    <li><a href="https://abagames.github.io/joys-of-small-game-development-en">Joys of Small Game Development</a></li>
    <li><a href="https://hypermedia.systems/">Hypermedia Systems</a></li>
    <li><a href="https://github.com/stas00/ml-engineering">Machine Learning Engineering</a></li>
    <li><a href="https://www.stripe.press/poor-charlies-almanack">Poor Charlie's Almanack</a></li>
    <li><a href="https://allendowney.github.io/ThinkPython/">Think Python</a></li>
    <li><a href="https://eloquentjavascript.net/">Eloquent JavaScript</a></li>
    <li><a href="https://digitalsuperpowers.com/book/">Digital Superpowers</a></li>
    <li><a href="https://calculusmadeeasy.org/prologue.html">Calculus Made Easy</a></li>
    <li><a href="https://startyourownisp.com/">Start Your Own ISP</a></li>
    <li><a href="https://mobook.github.io/MO-book/intro.html">Hands-On Mathematical Optimization with Python</a></li>
    <li><a href="https://tutorial.saashammer.com/">Hotwire Django Tutorial</a></li>
    <li><a href="https://lectures.scientific-python.org/_downloads/ScientificPythonLectures-simple.pdf">Scientific Python Lectures</a></li>
    <li><a href="https://github.com/bitcoinbook/bitcoinbook/blob/develop/BOOK.md">Mastering Bitcoin: Programming the Open Blockchain (3rd Edition).</a></li>
    <li><a href="https://github.com/EbookFoundation/free-programming-books/blob/main/books/free-programming-books-langs.md">Free Programming Books</a></li>
    <li><a href="https://yoan-thirion.gitbook.io/knowledge-base/software-craftsmanship/the-programmers-brain">The Programmer's Brain</a></li>
    <li><a href="https://carl-mcbride-ellis.github.io/TOBoML/TOBoML.pdf">The Orange Book of Machine Learning</a></li>
    <li><a href="https://physicsbaseddeeplearning.org/intro.html">Physics-based Deep Learning</a></li>
    <li><a href="https://github.com/bobbyiliev/introduction-to-bash-scripting">introduction to Bash Scripting</a></li>
    <li><a href="https://kb.databasedesignbook.com/posts/google-calendar/">Database Design Book</a></li>
    <li><a href="https://www.stat.cmu.edu/~cshalizi/TALR/TALR.*pdf*">The Truth about Linear Regression</a></li>
    <li><a href="https://math.mit.edu/~djk/calculus_beginners">Calculus for Beginners and Artists</a></li>
    <li><a href="https://shi-yan.github.io/webgpuunleashed/">WebGPU Unleashed: A Practical Tutorial</a></li>
    <li><a href="https://duckdb.hrbrmstr.app/">Cooking With DuckDB</a></li>
    <li><a href="https://discrete.openmathbooks.org/dmoi4.html">Discrete Mathematics</a></li>
    <li><a href="https://whycryptocurrencies.com/toc.html">Why Cryptocurrencies?</a></li>
    <li><a href="https://htmlforpeople.com/">HTML for people</a></li>
    <li><a href="https://thecopenhagenbook.com/">The Copenhagen Book</a> provides a general guideline on implementing auth in web applications.</li>
    <li><a href="https://makeityourself.org/">Make it Yourself</a></li>
    <li><a href="https://www.withdaydream.com/library/programmatic-seo-content-guide">The Complete Guide to Programmatic SEO</a></li>
    <li><a href="https://github.com/DataExpert-io/data-engineer-handbook">The Data Engineering Handbook</a></li>
    <li><a href="https://www.fuzzingbook.org/html/00_Table_of_Contents.html">Fuzzing Book</a></li>
    <li><a href="https://rlhfbook.com/">(WIP) A Little Bit of Reinforcement Learning from Human Feedback</a></li>
    <li><a href="https://www.lostartoflogarithms.com">The Lost Art of Logarithms</a></li>
    <li><a href="https://www.cosmicpython.com/book/preface.html">Architecture Patterns with Python</a></li>
    <li><a href="https://www.patterns.dev/#patterns">Patterns.dev</a> - free online resource on design, rendering, and performance patterns for building powerful web apps with vanilla JavaScript or modern frameworks</li>
    <li><a href="http://www.warrenrobinett.com/inventing_adventure/">Inventing the Adventure Game</a></li>
    <li><a href="https://www.jsoftware.com/papers/tot.htm">Notation as a Tool of Thought</a></li>
    <li><a href="https://book.leveldesignbook.com/">The Level Design Book</a></li>
    <li><a href="https://marginaleffects.com/">Model to Meaning</a></li>
    <li><a href="https://makefiletutorial.com/">Learn Makefiles</a></li>
    <li><a href="https://htdp.org/2024-11-6/Book/index.html">How to Design Programs, Second Edition</a></li>
    <li><a href="https://github.com/the-litte-book-of/linear-algebra">The Little Book of Linear Algebra</a></li>
    <li><a href="https://efficientdlbook.com/">Efficient Deep Learning Book</a></li>
    <li><a href="https://gerred.github.io/building-an-agentic-system/index.html">The Agentic Systems Series</a></li>
    <li><a href="https://elementsofcode.io/chapters/introduction/">The Elements of Code</a></li>
    <li><a href="https://github.com/ZachGoldberg/Startup-CTO-Handbook/blob/main/StartupCTOHandbook.md">THE STARTUP CTO'S HANDBOOK</a></li>

    <h2 id="courses" class="mb-4 text-2xl border-b border-gray-200">Courses</h2>
    <li><a href="https://crypto.stanford.edu/~dabo/courses/OnlineCrypto/">Online Cryptography Course</a></li>
    <li><a href="https://bayesball.github.io/EDA/">A Course in Exploratory Data Analysis</a></li>
    <li><a href="https://www.d3indepth.com/">Learn D3.js from the ground up</a></li>
    <li><a href="https://www.youtube.com/watch?v=tsbCSkvHhMo">Quantum Computing</a></li>
    <li><a href="https://ppc.web.cern.ch/">A Particle Physics Course for High-School Students</a></li>
    <li><a href="https://howtogrowalmostanything.notion.site/htgaa25">How to Grow Almost Anything</a></li>

</div>

</BaseLayout>
