---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Rasul Kireev Uses";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col mx-auto mb-10 space-y-6 text-xl prose">
      <h1 class="mt-0 mb-4 text-4xl font-bold md:mb-6 md:text-5xl">What I use</h1>

      <h2>Hardware</h2>
      <ul>
        <li>Macbook Pro 16-inch, 2023, with Apple M2 Max and 32GB RAM</li>
        <li>Samsung Galaxy S22 Ultra</li>
        <li>Samsonite Backpack</li>
        <li><a href="https://shop.deeper.network/products/deeper-connect-air">Deeper Connect Air</a></li>
      </ul>

      <h2>Software (in no particular order)</h2>
      <ul>
        <li>❤️ <a href="https://readwise.io/i/rasul">Readwise (+ Reader)</a></li>
        <li>❤️ <a href="https://buttondown.email/refer/rasulkireev">Buttondown</a></li>
        <li>VSCode</li>
        <li>PyCharm</li>
        <li>Firefox</li>
        <li>❤️ Obsidian</li>
        <li>❤️ TablePlus</li>
        <li>Loom</li>
        <li>❤️ Orbstack (as a Docker Desktop replacement)</li>
        <li>Todoist</li>
        <li>❤️ <a href="https://hetzner.cloud/?ref=Ju1ttKSG0Fn7">Hetzner</a> (for all my server needs)</li>
        <li>❤️❤️ <a href="https://caprover.com/">Caprover</a> (to host and organize all my projects)</li>
        <li>❤️ Alfred</li>
        <li>Raycast (barely)</li>
        <li>Keyboard Maestro</li>
        <li>iTerm2</li>
        <li>❤️ Bitwarden</li>
        <li>Postgres (my db to go ❤️)</li>
        <li>❤️ Metabase</li>
      </ul>

      <h2>Langauge, Frameworks and alike</h2>
      <ul>
        <li>❤️ Django (all my side projects)</li>
        <li>Python</li>
        <li>Astro (for this website)</li>
        <li>React</li>
        <li>React-Native</li>
      </ul>

  </div>
</BaseLayout>
