---
// Layout for articles, tutorials, etc.
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout>
  <p class="mb-10 text-blue-700">
    ← <a href="/articles/">back to posts</a>
  </p>

  <slot />
</BaseLayout>
